* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.2s linear;
}
*::selection {
    background: purple;
    color: white;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}